@{
    ViewBag.Title = "About";
}
<div class="slider">
    <img src="~/Images/inner-pages.jpg" class="img-reponsive">
</div>
<main id="main">


    <section id="about" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
            <div class="section-header">
                <h3>
                    INSTITUTE OF HOTEL
                    <span>MANAGEMENT</span> &amp; CATERING
                    SCIENCE <span>(IHMCS)</span>
                </h3>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4">
                    <img src="~/Images/ihmcs.png">
                </div>

                <div class="col-md-8">
                    <div class="about-col">
                        <p>
                            We are affiliated Training Partner of Tourism &amp; Hospitality Skill Council, National Skill Development Corporation under Ministry of Skill Development and Entrepreneurship, Govt. of India.<br><br>
                            IHMCS is also authorized Admission and Facilitation Center of  Dy Patil University, Navi Mumbai for Hotel management courses. <br><br>
                            We welcome to the world of Hospitality, Travel and Aviation. The Hospitality and Tourism industry is one of the fastest growing industries in the world, hence the requirement of the skilled human resource is enormous. Total contribution by the travel and tourism sector to india’s GDP is expected to increase from Rs. 15.24 trillion (US$ 234.03 billion) in 2017 to Rs. 32.05 trillion (US$ 492.21 billion) in 2028. Overall employment in the industry is expected to rise to 52.3 million jobs by 2028. The Government of India has set a target of 20 million foreign tourist arrivals (FTAs) by 2020 and double the foreign exchange earnings as well.<br><br>
                            The launch of several branding and marketing initiatives by the Government of India such as ‘Incredible India!’ and ‘Atithi Devo Bhava’ has provided a focused impetus to growth. Under the ‘Swadesh Darshan Scheme’ 13 thematic Circuits have been selected for development of tourism infrastructure. <br><br>
                            Goal-oriented students who know where they are heading in life can settle into an exciting, lucrative career. Choosing a career path should be driven by the desire of what student wants to do. Days are gone when priority was given to traditional courses; now there is a perceptible shift by students in adopting non-conventional courses. <br><br>
                            At IHMCS, We focus on enhancing the learning experience of our students through regular practical, assignments, workshops and various extracurricular activities. The ideal mix of hands-on training along with the world-class curriculum designed by academicians and industry practitioners will provide our students knowledge and insights needed to be successful in this challenging world. Our exceptional and highly skilled academic staff focus on the personal growth and development of each student by incorporating teamwork and collaboration with numerous activities and events. <br><br>
                            We also polish our students and make them employable by providing various sessions on communication, personality development and interview preparation by guest faculties and industry experts. The appreciations we receive for our students from the industry motivate us to deliver quality education consistently. We make sure that the learning experience at IHMCS is exciting, colourful and challenging, yet also an enriching experience.

                        </p>
                    </div>
                </div>

            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="section-header">
                <h3>IHMCS is authorized <span>training partner of NSDC</span></h3>
            </div>
            <ul>
                <li> INSTITUTE OF HOTEL MANAGEMENT AND CATERING SCIENCE, DELHI – IHMCS DELHI </li>
                <li> LEADING HOTEL MANAGEMENT INSTITUTE IN DELHI WITH 100 % JOB GUARANTEE. </li>
                <li> GET INTERNATION DIPLOMA FROM CITY AND GUILDS LONDON AT NO EXTRA COST ALONGWITH UGC APPROVED DEGREE AND WORK EXPERIENCE. </li>
                <li> IHMCS IS A DREAM FOR THOSE WHO WANT TO MAKE THEIR CAREER IN HOSPITALITY SECTOR ALONG WITH 100 % PLACEMENT IN INDIA AND ABROAD. </li>
                <li> IHMCS OFFERS STUDENT TO “EARN WHILE LEARN.”</li>
                <li> Scholarships to Girls and Meritorious students.</li>
                <li> Guest Lectures by Industry experts on regular basis. </li>
                <li> Highly experienced and qualified faculties. </li>
                <li> Self-initiated / Experiential Learning through Assignment / Practicals and workshop. </li>
            </ul>

            <br><br><br><br>
            <div class="section-header">
                <h3> Association </h3>
                <h5>  Tourism and Hospitality Sector Skill Council under National Skill Development Corporation  </h5>
                <p> IHMCS is affiliated training provider of Tourism and Hospitality Sector Skill Council, National Skill Development Corporation under Ministry of Skill Development and Entrepreneurship, Govt. of India. These qualifications are recognised by the Government and allows you to work in India or abroad in your desired specialised department of the recognised area of study.</p><p>

                </p><h5>DY PATIL UNIVERSITY  </h5>
                <p>
                    IHMCS, Delhi is the approved Admission and Training Hub Partner of DY PATIL UNIVERSITY School of hospitality and tourism studies to offer  <br><br>
                    B,Sc Hospitality studies and BBA in Aviation Industry, BBA in Travel and Tourism  <br><br>
                    DY PATIL UNIVERSITY is one of the most reputed and respected institution of the country with a NAAC A++ score. DY PATIL was established in 1984 and the year 1992 was an important landmark in the history of the Institute, when it was entered into Hospitality Sector.
                </p>



                <div class="section-header">
                    <h3>IHMCS is authorized <span>training partner of NSDC</span></h3>
                </div>
                <br>
                <div class="row contact-info">
                    <div class="col-lg-4">
                        <img src="~/Images/sl.png">
                    </div>
                    <div class="col-lg-4">
                        <img src="~/Images/ssd.png">
                    </div>
                    <div class="col-lg-4">
                        <img src="~/Images/ths.png">
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #contact -->
</main>
