
@{
    ViewBag.Title = "accreditations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="slider">
    <img src="~/Images/inner-pages.jpg" class="img-reponsive">
</div>
<main id="main">

    <section id="contact" class="section-bg wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
            <div class="section-header">
                <h3>
                    Accredi<span>tations </span>
                </h3>


            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Images/7c96151672cae65a3f756c656b95c51d3.jpg" class="img-reponsive">
                </div>

                <div class="col-md-6">
                    <img src="~/Images/1520954bd8ab310bf046842587a407691.jpg" class="img-reponsive">
                </div>

            </div>

            <div class="col-md-6">
                <img src="~/Images/c5dc8a8ec868c585832adab19f59c3032.jpg" class="img-reponsive">
            </div>


        </div>

    </section><!-- #contact -->
</main>

