
@{
    ViewBag.Title = "diploma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider">
    <img src="~/Images/inner-pages.jpg" class="img-reponsive">
</div><!-- #intro -->
<main id="main">
   

    <section id="contact" class="section-bg wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
            <div class="section-header">
                <h3>
                    PG Diploma &amp; <span>Diploma Courses</span>
                </h3>
                <div class="row contact-info">
                    <div class="col-md-12">
                        <table>
                            <tbody>
                                <tr>
                                    <th>S.No.</th>
                                    <th>Course</th>
                                    <th>duration</th>
                                    <th>Medium</th>
                                    <th>Eligibility</th>
                                    <th>Course Structure</th>
                                </tr>

                                <tr>
                                    <td>1</td>
                                    <td> 	P.G. Diploma in Hotel Management </td>
                                    <td>1 year </td>
                                    <td>English</td>
                                    <td>Graduation </td>
                                    <td><a href="http://www.ihmcsdelhi.org/pg-diploma-hotel.html">Click here</a></td>
                                </tr>

                                <tr>
                                    <td>2</td>
                                    <td>P.G. Diploma in Tourism Management</td>
                                    <td>1 year </td>
                                    <td>English</td>
                                    <td>Graduation   </td>
                                    <td><a href="http://www.ihmcsdelhi.org/pg-diploma-tour.html">Click here</a></td>
                                </tr>

                                <tr>
                                    <td>3</td>
                                    <td>Catering Operation </td>
                                    <td>1 year </td>
                                    <td>English</td>
                                    <td>Graduation  </td>
                                    <td><a href="http://www.ihmcsdelhi.org/pg-catring.html">Click here</a></td>
                                </tr>

                                <tr>
                                    <td>4</td>
                                    <td>Front Office and Accommodation Management </td>
                                    <td>1 year </td>
                                    <td>English</td>
                                    <td>Graduation  </td>
                                    <td><a href="http://www.ihmcsdelhi.org/forn-office.html" class="link">Click here</a></td>
                                </tr>

                                <tr>
                                    <td>5</td>
                                    <td>Food and Beverage Service </td>
                                    <td>1 year </td>
                                    <td>English</td>
                                    <td>Graduation   </td>
                                    <td><a href="http://www.ihmcsdelhi.org/food.html" class="link">Click here</a></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="row contact-info">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect">
                        <img class="img-responsive" src="~/Images/ug.JPG" alt="">
                        <div class="overlay">
                            <h2>P.G. Diploma in Hotel Management</h2>
                            <p>
                                Duration- 1 year | Eligibility- 10+2
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect">
                        <img class="img-responsive" src="~/Images/ug.JPG" alt="">
                        <div class="overlay">
                            <h2>P.G. Diploma in Tourism Management</h2>
                            <p>
                                Duration- 1 year | Eligibility- 10+2
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect">
                        <img class="img-responsive" src="~/Images/ug.JPG" alt="">
                        <div class="overlay">
                            <h2>Diploma in Catering Operation</h2>
                            <p>
                                Duration- 1 year | Eligibility- 10+2
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row contact-info">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect">
                        <img class="img-responsive" src="~/Images/ug.JPG" alt="">
                        <div class="overlay">
                            <h2>Diploma in Front Office and Accommodation Management</h2>
                            <p>
                                Duration- 1 year | Eligibility- 10+2
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect">
                        <img class="img-responsive" src="~/Images/ug.JPG" alt="">
                        <div class="overlay">
                            <h2>
                                Diploma in Food and Beverage Service
                            </h2>
                            <p>
                                Duration- 1 year | Eligibility- 10+2
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #contact -->
</main>

