
@{
    ViewBag.Title = "director";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="slider">
    <img src="~/Images/inner-pages.jpg" class="img-reponsive">
</div><!-- #intro -->
<main id="main">


    <section id="about" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
            <div class="section-header">
                <h3>Director’s  <span>Desk</span></h3>
            </div>
            <br>

            <div class="row">
                <div class="col-md-5">
                    <img src="./Director _- IHMCS_files/director.jpg" class="img-reponsive">
                </div>

                <div class="col-md-7">
                    <div class="about-col">
                        <p>
                            The Institute of Hotel Management &amp; Catering Science (IHMCS) is a leading institute to guide you excel in research, innovativeness and
                            entrepreneurship. We provide an inspirational learning environment to nurture our students for leading in the professional world.
                        </p>
                        <p>
                            The IHMCS is committed to establish new benchmarks of excellence in futuristic hospitality education. IHMCS is a home to the best-in-class
                            professionals , hospitality leaders and entrepreneurs of tomorrow who are groomed and prepared in accord with latest trends in the sector
                            by highly specialized learning facilitators through state- of-the-art facilities. Superbly equipped with a
                            high quality international standard pedagogically trained staff, IHMCS distinctively blends the
                            theoretical and practical elements of education with real life experience.
                        </p>
                    </div>
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="about-col">
                        <p>
                            minds and their spirit of innovation. We deliver quality education and constructively engage our
                            student to enhance awareness and skills to achieve higher levels of success. The four pillars of IHMCS
                            are: Quality Education and Training, Guaranteed Internship, Personal Development and Inland as
                            well as International career Placement. Each aspects plays a key role in our mission to provide
                            the growing global hospitality and service management industry with quality employees and
                            employers who are eager to demonstrate their management potential.
                        </p>
                        <p>
                            Quality Academic Education, as the first pillar, gives students all the academic and theoretical
                            knowledge. Guaranteed Internship, as the second pillar, allows students to apply the knowledge into
                            practice on the job. Personal and Professional Development, the third and most important pillar,
                            provides students with soft and social skills with required discipline that motivates the students. The
                            successful outcome of all these three pillars brings in the fourth pillar i.e. successful career
                            Placement.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- #contact -->
</main>

