
@{
    ViewBag.Title = "franchise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider">
    <img src="~/Images/inner-pages.jpg" class="img-reponsive">
</div><!-- #intro -->
<main id="main">

    <section id="about" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
            <div class="section-header">
                <h3> Franchise Opportunities with <span>IHMCS</span></h3>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="about">
                        <p>
                            IHMCS with its network of 16 institutes offers undergraduate and vocational level programs in Business Management, Hospitality Management, Retail Operations,
                            Aviation Management, English for Communication and Personality Development. IHMCS is a chain of ‘Owned’ as well as ‘Franchised’ institutes.
                        </p>
                        <p>
                            IHMCS is a process driven organization that is geared-up to help people driven businesses across the nation to perform better. Our academic alliances
                            coupled with our focus on high-quality trainings will help students to become efficient, multi-skilled and well-trained professionals.
                        </p>
                        <p>
                            <strong>The Salient features of the agreement between IHMCS and Franchise will be as follows:</strong>
                        </p><h4>IHMCS will contribute with all the following:</h4>
                        <ul>
                            <li>  Will lend its brand to be used for the period mentioned in the agreement. </li>
                            <li>   Intellectual property required to set up and manage the institute, i.e., curriculum, recruitment and training, certification etc.</li>
                            <li>  Will suggest specific standardized designs and equipments required for effective delivery of the programs.</li>
                            <li>    Will assist students in placements.</li>
                        </ul>
                        <h4>The Franchisee is expected to: </h4>
                        <ul>
                            <li>    Make necessary capital and operational expenses. </li>
                            <li>  Set up the institute strictly in accordance with the design policies of IHMCS. </li>
                            <li>  Adhere to other general guidelines as specified by IHMCS. </li>
                            <li>  Conduct recruitment of necessary staff as specified by IHMCS. Incur local advertising/marketing costs as agreed with IHMCS. </li>
                        </ul>
                        <h4>  The agreement is on a revenue sharing model. </h4>
                        <h4>   Investments and ROI: </h4>
                        <h4>  Below mentioned is a brief on the requirements: </h4>
                        <ul>
                            <li>   Land &amp; Building: 2,500 to 4,000 Sq. ft. of Carpet Area </li>
                            <li>   Capital Costs: Will depend on the current condition of the premises </li>
                            <li>   Brand Fee covers the costs of international affiliations and initial set up.</li>
                        </ul>
                        To download the application form, click here.
                        To know more about an exciting and rewarding franchising opportunity write to: franchise@ihmcsdelhi.org
                        Call on: 011-29892088 , 8285148778
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>
                        Enquiry  <span>Form</span>
                    </h3> <div class="form">
                        <div class="form">
                            <form onsubmit="return lpNewValidateForm22() &amp;&amp; terms()" id="nursing" action="~/Home/contact" method="POST">
                                <div class="form-row">

                                    <input type="hidden" name="action" value="queryform">
                                    <input type="hidden" name="source" value="NA">
                                    <input type="hidden" name="medium" value="NA">
                                </div>
                                <div class="form-row">
                                    <div class="form-group">
                                        <input type="text" placeholder="Full Name" id="name" name="name" max="10" class="form-control" required="">
                                        <div class="validation"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="email" placeholder="Insert your e-mail" max="10" name="email" class="required contact-form-email form-control" required="">
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input id="phone" type="text" max="10" placeholder="phone" name="phone" class="required form-control" required="">
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea id="message" type="text" placeholder="message" name="message" class="required form-control">    </textarea>
                                    <div class="validation"></div>
                                </div>

                                <div class="text-center">
                                    <input value="SUBMIT →" class="book_btn" type="submit">

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #contact -->
</main>

