
@{
    ViewBag.Title = "gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main">

    <section id="contact" class="section-bg wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">

            <div class="section-header">
                <h3>
                    Gall<span>ery </span>
                </h3>


            </div>

            <div class="row">

                <div class="col-md-4">

                    <h4><a href="http://www.ihmcsdelhi.org/gallery.php?gallery=3">sad</a></h4>

                    <div class="morph pic">

                        <a href="http://www.ihmcsdelhi.org/gallery.php?gallery=3"><img src="./gallery_IHMCS_files/1570656100158048LOGO.jpg" class="img-reponsive"></a>
                    </div>

                </div>


                </div>


        </div>
    </section><!-- #contact -->

</main>

