
@{
    ViewBag.Title = "internships";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider">
    <img src="~/Images/job-opping.jpg">
</div>
<main id="main">
    <section id="contact" class="section-bg wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
            <div class="section-header">
                <h3>Intern<span>ships</span></h3>
            </div>
        </div>
    </section><!-- #contact -->
</main>

