
@{
    ViewBag.Title = "job";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider">
    <img src="~/Images/inner-pages.jpg" class="img-reponsive">
</div>
<main id="main">



    <section id="about" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
            <div class="section-header">
                <h3>Job <span>openings</span></h3>

            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="about">
                        <h4>Academic Staff</h4>
                        <p>
                            Male / Female candidates with qualification as per UGC norms with relevant experience may apply in the area of IT , Management , Engineering , Humanities , Nursing , Law , Vocational and other academic areas. Candidates retired from Government / Private Institutions and Freshers matching above said may also apply.
                        </p>
                        <h4>Marketing Staff</h4>
                        <p>
                            Male / female candidates having experience in educational marketing in the area of promotions in school / college , corporate , exhibitions , data collection marketing lead generation , lead conversion , tele calling , organization of events , campus visits , home visits , cold calling , internet marketing etc. are required at the level of Manager , Deputy Manager , Astt. Manager, Executive etc. Candidates with proven track record, excellent communication skills and pleasing personality may apply. Having own vehicle will be added advantage.
                        </p>
                        <h4>Career Counselors</h4>
                        <p>
                            Candidates preferably female having experience of career counseling in an Educational Institution / University. Candidate must have the ability to convert the enquiries. Required attributes are pleasing personality, excellent communication skills.
                        </p>
                        <h4> Administrator</h4>
                        <p>
                            Male candidate having minimum experience of 5 years and more in the area of campus administration – Transport, student facilities, liaison with Government Utility departments, construction, procurement may apply . Required attributes are Strong Physical Health, Ability to command, Go getter, Resident of Raipur and Knowledge of local city and Problem Solving attitude. Ex Servicemen may also apply.
                        </p>
                        <h4>Librarian</h4>
                        <p>
                            Male Candidate with relevant qualification and experience of managing a large library of a large Institution or a University with excellent knowledge of Library Management System preferably using computers may apply.
                        </p>
                        <h4>Soft Skills Trainer</h4>
                        <p>
                            Male / Female Candidates having excellent training skills in the area of soft skills , personality development , employability skills , data analysis skills , Spoken English etc. may apply.
                        </p>
                    </div>
                </div>
            </div>



        </div>



    </section><!-- #contact -->
</main>
