
@{
    ViewBag.Title = "place";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider">
    <img src="~/Images/inner-pages.jpg" class="img-reponsive">
</div>
<main id="main">
  <section id="contact" class="section-bg wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
            <div class="section-header">
                <h3>Place<span>ments</span></h3>
            </div>
          </div>
    </section><!-- #contact -->
</main>

