
@{
    ViewBag.Title = "testimonial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="slider">
    <img src="~/Images/inner-pages.jpg" class="img-reponsive">
</div><!-- #intro -->
<main id="main">

    <section id="contact" class="section-bg wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
            <div class="section-header">
                <h3>
                    Testil<span>monia</span>
                </h3>


            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="test">

                        <p></p><p>IHMCS is Good</p>
                        <p></p>
                        <h4>Designed by <br><span>IHMCS Delhi</span></h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="test">
                        <p></p>
                        <p>
                            IHMCS is Very Good Institute
                        </p>
                        <h4>Project Manager<br><span>Rahul Kumar</span></h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="test">

                        <p></p><p>IHMCS is a Great Institute</p>
                        <p></p>
                        <h4>Project Cordinator<br><span>Ajit Chaudhary</span></h4>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- #contact -->
</main>

