
@{
    ViewBag.Title = "thankyou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <div align="center">
        <div align="center" class="feed">
            <br><br><br><br><br> <a href="http://www.ihmcsdelhi.org"><img src="~/Images/thank-you.png" border="0"></a><br><br>
            Thanks for submiting.<br> We will contact you within 24hours.  <br>
            <a href="http://www.ihmcsdelhi.org" class="btn btn-success p-2">Click To Go Home Page</a>
</div>
    </div>
</center>

