
@{
    ViewBag.Title = "tie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider">
    <img src="~/Images/inner-pages.jpg" class="img-reponsive">
</div>
<main id="main">


    <section id="course" class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
            <br>
            <div class="section-header">
                <h3> 	Tie-<span> Ups</span></h3>

            </div>
            <div class="about">
                <p>
                    IHMCS offers its students varied career opportunities and placements in leading
                    organizations with hefty pay packages. Our students explore new avenues in global
                    careers while continuously striding in their academic journey. We are proud of the
                    fact that our alumni’s dedication and astounding performance has made IHMCS, the
                    most preferred institute among recruiters and our graduates are targeted by regional,
                    national and international employers.
                </p>
            </div>

            <div class="section-header">
                <h3> 	OUR TOP <span> RECRUITERS</span></h3>

            </div>
            <h4>
                Highest Number of Companies &amp;
                Maximum Placement Offers in the Region!
            </h4>
            <div class="row contact-info">
                <div class="col-md-3">
                    <img src="~/Images/1.png">
                </div>
                <div class="col-md-3">
                    <img src="~/Images/2.png">
                </div>
                <div class="col-md-3">
                    <img src="~/Images/3.png">
                </div>
                <div class="col-md-3">
                    <img src="~/Images/4.png">
                </div>
            </div>

            <div class="row contact-info">
                <div class="col-md-3">
                    <img src="~/Images/5.png">
                </div>
                <div class="col-md-3">
                    <img src="~/Images/6.png">
                </div>
                <div class="col-md-3">
                    <img src="~/Images/7.png">
                </div>
                <div class="col-md-3">
                    <img src="~/Images/8.png">
                </div>
            </div>

            <div class="row contact-info">
                <div class="col-md-3">
                    <img src="~/Images/9.png">
                </div>
                <div class="col-md-3">
                    <img src="~/Images/10.png">
                </div>
                <div class="col-md-3">
                    <img src="~/Images/11.png">
                </div>
                <div class="col-md-3">
                    <img src="~/Images/12.png">
                </div>
            </div>
        </div>
    </section><!-- #contact -->
</main>

