
@{
    ViewBag.Title = "ug";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider">
    <img src="~/Images/inner-pages.jpg" class="img-reponsive">
</div><!-- #intro -->
<main id="main">


    <section id="contact" class="section-bg wow fadeInUp" style="visibility: visible;">
        <div class="container">
            <div class="section-header">
                <h3>UG <span>Courses</span></h3>

            </div>
            <div class="row contact-info">
                <div class="col-md-12">
                    <table>
                        <tbody>
                            <tr>
                                <th>S.No.</th>
                                <th>Course</th>
                                <th>Duration</th>
                                <th>Medium</th>
                                <th>Eligibility</th>
                                <th>Course Structure</th>
                            </tr>


                            <tr>
                                <td>1</td>
                                <td>BBA . (Hotel Management and Catering Sciences)</td>
                                <td>3 years </td>
                                <td>English</td>
                                <td>10+2 </td>
                                <td><a href="http://www.ihmcsdelhi.org/bschmcs.html">Click here</a></td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td>B.Sc. (Tourism &amp; Hospitality Management)</td>
                                <td>3 years </td>
                                <td>English</td>
                                <td>10+2 </td>
                                <td><a href="http://www.ihmcsdelhi.org/bscthm.html" class="link">Click here</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>BBA (BACHELOR OF BUSINESS ADMINSTRATION)</td>
                                <td>3 years </td>
                                <td>English</td>
                                <td>10+2 </td>
                                <td><a href="http://www.ihmcsdelhi.org/bbaht.html" class="link">Click here</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row contact-info">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect">
                        <img class="img-responsive" src="~/Images/ug.JPG" alt="">
                        <div class="overlay">
                            <h2>B.sc. (Hotel Management and Catering Sciences)</h2>
                            <p>
                                Duration- 3 years | Eligibility- 10+2
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect">
                        <img class="img-responsive" src="~/Images/ug.JPG" alt="">
                        <div class="overlay">
                            <h2>B.sc. (Tourism &amp; Hospitality Management)</h2>
                            <p>
                                Duration- 3 years | Eligibility- 10+2
                            </p>
                        </div>
                    </div>
                </div>



            </div>





        </div>
    </section><!-- #contact -->
</main>

