
@{
    ViewBag.Title = "vacancy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider">
    <img src="~/Images/inner-pages.jpg" class="img-reponsive">
</div>
<main id="main">

    <section id="contact" class="section-bg wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <div class="container">
            <div class="section-header">
                <h3>JOIN<span> US</span></h3>

            </div>
            <div class="row contact-info">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect1">
                        <img class="img-responsive" src="~/Images/job.jpg" alt="">
                        <div class="overlay">
                            <h2>Job openings</h2>
                            <a class="info1" href="http://www.ihmcsdelhi.org/job.html">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="hovereffect1">
                        <img class="img-responsive" src="~/Images/apply.jpg" alt="">
                        <div class="overlay">
                            <h2>Job openings</h2>
                            <a class="info1" href="http://www.ihmcsdelhi.org/apply.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #contact -->
</main>

